body {
  background-color: #303133;
  color: #efefef;
  font-family: Arial, sans-serif;
}

#output-panel {
  margin: 10px;
  height: calc(100% - 20px);
  background-color: #131414;
  border-color: #444;
}

#input-panel {
  padding: 10px;
  padding-left: 0;
}

#input {
  background-color: #131414;
  color: #efefef;
  border-color: #444;
}

#config {
  background-color: #131414;
  color: #efefef;
  border-color: #444;
}

.title {
  /* background-color:gray; */
  /* background-color: #262729; */
  background-color: #444;
  padding: 5px;
  color: white;
  line-height: 1.5em;
}

#title-config {
  margin-top: 10px;
}
