*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.pyc
input_parser.ml
input_lexer.ml
input_parser.mli
b_and_b/compile.sh
ref.html
vm_instructions.html
fptaylor
!FPTaylor/
proof_to_text
ocamlfpu
*~
*.proof
*.log
generated/
Fluctuat_*/
gelpia/
log/
tmp/
test/
extra/
.DS_Store
